<div class="main rooms-show">
  <div class="container">
    <h1 class="form-heading">部屋の名前の編集</h1>

    <!-- show error message if exists -->
    <% @room.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>

    <!-- form -->
    <%= form_tag("/rooms/#{@room.id}/update", {multipart: true}) do %>
      <div class="form">
        <div class="form-body">
    
          <!-- input area -->
          <table border=1 cellspacing=0 cellpadding=8>
            <tr>
              <!-- <th>ID</th> -->
              <th>部屋の π(pai)ID</th>
              <th>部屋の名前</th>
            </tr>
            <tr>
              <!-- <td><%= @room.id %></td> -->
              <td><%= @room.pi_id %></td>
              <td><input name="roomr" value="<%= @room.roomr %>"></td>
            </tr>
          </table>
  
          <!-- submit -->
          <p><input type="submit" value="編集"></p>
        </div>
      </div>
    <% end %>

    <p><%= link_to("一覧", "/rooms/index") %></p>
    <p><%= link_to("新規登録", "/rooms/new") %></p>
</div>
</div>
