<div class="main rooms-index">
  <div class="container">
    <h1 class="form-heading">πIDと部屋の名前の紐づけ</h1>

    <table border=1 cellspacing=0 cellpadding=8>
      <tr>
        <!-- <th>ID</th> -->
        <th>π(pai)ID</th>
        <th>name</th>
        <th>created at</th>
        <th>edit</th>
      </tr>
      <% @rooms.each do |room| %>
      <tr>
        <!-- <td><%= room.id %></td> -->
        <td><%= room.pi_id %></td>
        <td><%= room.roomr %></td>
        <td><%= room.created_at_JST %></td>
        <td><%= link_to("編集する", "/rooms/#{room.id}/edit") %></td>
      </tr>
      <% end %>
    </table>
    
    <p><%= link_to("新規登録", "/rooms/new") %></p>
    <p><%= link_to("部屋の利用状況一覧", "/faces/index") %></p>
  </div>
</div>