<div class="main rooms-new">
  <div class="container">
    <h1 class="form-heading">新規登録</h1>

    <!-- show error message if exists -->
    <% @room.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>
    

    <!-- form -->
    <%= form_tag("/rooms/create") do %>
      <div class="form">
        <div class="form-body">

          <!-- input area -->
          <table border=1 cellspacing=0 cellpadding=8>
            <tr>
              <th>部屋の π(pai)ID</th>
              <th>部屋の名前</th>
            </tr>
            <tr>
              <td><input name="pi_id"></td>
              <td><input name="roomr"></td>
            </tr>
          </table>

          <!-- submit -->
          <p><input type="submit" value="登録"></p>

        </div>
      </div>
    <% end %>

    <p><%= link_to("一覧", "/rooms/index") %></p>
  </div>
</div>
