<div class="main rooms-edit">
  <div class="container">
    <h1 class="form-heading">部屋の名前</h1>

    <!-- show error message if exists -->
    <% @room.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>
  
    <%= @room.pi_id %>
    <%= @room.roomr %>
  </div>
</div>
