  <div class="main posts-delete">
    <div class="container">
      <h1 class="form-heading">レコードの削減</h1>

      <!-- form -->
      <%= form_tag("/faces/truncate") do %>
        <div class="form">
          <div class="form-body">
            <!-- input -->
            <p>ログの行数 <%= @count %></p>
            <p>この行数まで減らす <input name="limit"></p>
            <!-- submit -->
            <input type="submit" value="削減">
          </div>
        </div>
      <% end %>

    </div>
  </div>
