<!-- page auto refresh -->
<% content_for :refresh do %>
60
<% end %>

<div class="main faces-index">
  <div class="container">
    <h1 class="form-heading">会議室 利用状況 (詳細)</h1>

    <table>
      <tr>
        <th>π(pai)ID</th>
        <th>部屋の名前</th>
        <th>利用状況</th>
        <th>利用人数</th>
        <th>最終更新</th>
        <th>タイムスタンプ(long)</th>
        <!-- <th>タイムスタンプ(short)</th> -->
        <th>ソース</th>
        <th>画像差分</th>
        <th>利用履歴</th>
        <th>今週の利用</th>
      </tr>
      <% @faces.each do |face| %>
      <tr>
        <td><%= face.pi_id %></td>
        <td><%= face.get_room %></td>
        <% if face.number > 0 %>
          <td><b><font color=red>利用中</font></b></td>
        <% elsif face.number < 0 %>
          <td><b><font color=gray>未稼働</font></b></td>
        <% else %>
          <td><b><font color=green>空き</font></b></td>
        <% end %>
        <td><%= face.number %></td>
        <td><%= face.created_at_JST %></td>
        <td><%= face.long_timestamp %></td>
        <!-- <td><%= face.short_timestamp %></td> -->
        <td><%= face.source %></td>
        <td><%= face.diff %></td>
        <td><%= link_to("見る", "/faces/#{face.pi_id}", {class: "btn-square"}) %></td>
        <td><%= link_to("見る", "/faces/#{face.pi_id}/weekly", {class: "btn-square"}) %></td>
      </tr>
      <% end %>
    </table>

    <p><%= link_to("利用状況", "/", {class: "btn-square"}) %></p>
    <p><%= link_to("部屋の名前一覧", "/rooms/index", {class: "btn-square"}) %></p>
  </div>
</div>
