<!-- page auto refresh -->
<% content_for :refresh do %>
60
<% end %>

<div class="main faces-index">
  <div class="container">
    <h1 class="form-heading">会議室 利用状況</h1>

    <table>
      <tr>
        <th>部屋の名前</th>
        <th>利用状況</th>
        <th>最終更新</th>
        <th>今週の利用</th>
      </tr>
      <% @faces.each do |face| %>
      <tr>
        <td><%= face.get_room %></td>
        <!-- number -->
        <% if face.number > 0 %>
          <td><b><font color=red>利用中</font></b></td>
        <% else %>
          <td><b><font color=green>空き</font></b></td>
        <% end %>
        <!-- time stamp -->
        <% if face.short_timestamp.nil? %>
          <td><%= face.created_at_JST_simple %> *</td>
        <% else %>
          <td><%= face.short_timestamp %></td>
        <% end %>
        <td><%= link_to("見る", "/faces/#{face.pi_id}/weekly", {class: "btn-square"}) %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
