  <div class="main posts-new">
    <div class="container">
      <h1 class="form-heading">新規登録</h1>

      <!-- error message -->
      <% @face.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>

      <!-- form -->
      <%= form_tag("/faces/create") do %>
        <div class="form">
          <div class="form-body">
            <!-- input -->
            <p>顔の数 <input name="number"></p>
            <p>πID <input name="pi_id"></p>
            <p>short timestamp MM/DD HH:MM <input name="short_timestamp"></p>
            <p>long timestamp YYYY/MM/DD HH:MM:SS <input name="long_timestamp"></p>
            <p>source <input name="source"></p>
            <p>diff <input name="diff"></p>
            <!-- submit -->
            <input type="submit" value="登録">
          </div>
        </div>
      <% end %>

      <p><%= link_to("履歴一覧", "/faces/index") %></p>
    </div>
  </div>
