<!-- page auto refresh -->
<% content_for :refresh do %>
60
<% end %>

<div class="main faces-show">
  <div class="container">
    <h1 class="form-heading"><%= @faces.first.get_room %> (πid : <%= @faces.first.pi_id %>) 利用状況</h1>

    <!-- graph -->
    <div class="container">
     <div class="post-graph-area">
       <%= high_chart("my_chart", @chart) %>
     </div>
    </div>

    <!-- link -->
    <p><%= link_to("部屋の利用状況一覧", "/", {class: "btn-square"}) %></p>

    <!-- table -->
    <table>
      <tr>
        <th>π(pai)ID</th>
        <th>部屋の名前</th>
        <th>利用人数</th>
        <th>更新日時</th>
        <th>タイムスタンプ(long)</th>
        <th>タイムスタンプ(short)</th>
        <th>ソース</th>
        <th>画像差分</th>
      </tr>
      <% @faces.each do |face| %>
      <tr>
        <td><%= face.pi_id %></td>
        <td><%= face.get_room %></td>
        <td><%= face.number %></td>
        <td><%= face.created_at_JST %></td>
        <td><%= face.long_timestamp %></td>
        <td><%= face.short_timestamp %></td>
        <td><%= face.source %></td>
        <td><%= face.diff %></td>
      </tr>
      <% end %>
    </table>

    <!-- link -->
    <p><%= link_to("部屋の利用状況一覧", "/", {class: "btn-square"}) %></p>
      
  </div>
</div>
