<!-- page auto refresh -->
<% content_for :refresh do %>
60
<% end %>

<div class="main faces-weekly">
  <div class="container">
    <h1 class="form-heading"><%= @room ? @room.roomr : "no name" %> (πid : <%= @pi_id %>) 週間利用状況 (WK <%= @week_day[0].cweek %>)</h1>

    <p>
    <%= link_to("前の週 (WK#{(@week_day[0] - 7).cweek})", "/faces/#{@pi_id}/weekly/#{(@week_day[0] - 7).strftime('%Y%m%d')}", {class: "btn-square"}) %>
    <%= link_to("今週 (WK#{Date.today.cweek})", "/faces/#{@pi_id}/weekly", {class: "btn-square"}) %>
    <%= link_to("次の週 (WK#{(@week_day[0] + 7).cweek})", "/faces/#{@pi_id}/weekly/#{(@week_day[0] + 7).strftime('%Y%m%d')}", {class: "btn-square"}) %>
    </p>
    
    <table>
      <tr>
        <th>週番号</th>
        <th>月曜日</th>
        <th>火曜日</th>
        <th>水曜日</th>
        <th>木曜日</th>
        <th>金曜日</th>
      </tr>
      <tr>
        <td><b>WK<%= @week_day[0].cweek %></b></th>
        <% (0..4).each do |w| %>
          <td><b><%= @week_day[w].strftime('%m月%d日') %></b></th>
        <% end %>
      </tr>

      <% 8.upto(20) do |hour| %>
        <% i0 = hour * 2 %>
        <% i1 = hour * 2 + 1 %>
        <tr>
          <td><%= hour %>:00</td>  
          <% (0..4).each do |w| %>
            <td><%= raw item(w, i0) %></td>
          <% end %>
        </tr>
        <tr>
          <td><%= hour %>:30</td>  
          <% (0..4).each do |w| %>
            <td><%= raw item(w, i1) %></td>
          <% end %>
        </tr>
      <% end %>
    </table>

    <p><%= link_to("利用状況", "/", {class: "btn-square"}) %></p>
  </div>
</div>
