// Place all the styles related to the faces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-graph-area {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

// CSS for H1
// copy from : https://saruwakakun.com/html-css/reference/h-design
// { begin }

h1 {
  color: #364e96;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px #364e96;/*上線*/
  border-bottom: solid 3px #364e96;/*下線*/
}

// { end }

// CSS for table
// copy from : https://webliker.info/75964/
// { begin }

table{
  //width: 80%;
  border-collapse:separate;
  border-spacing: 0;
}

table th:first-child{
  border-radius: 5px 0 0 0;
}

table th:last-child{
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  //width: 25%;
  //padding: 10px 0;
  padding: 8px 8px;
}

table td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  //width: 25%;
  //padding: 10px 0;
  padding: 8px 8px;
}

table td:last-child{
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

// { end }

// CSS for link
// copy from : https://saruwakakun.com/html-css/reference/buttons#section1
// html example) <a href="#" class="btn-square">BUTTON</a>
// erb  example) <%= link_to("トピック作成", new_topic_path, {class: "btn-square"}) %>
// { begin }

.btn-square {
  display: inline-block;
  //padding: 0.5em 1em;
  padding: 0.25em 0.5em;
  text-decoration: none;
  background: #668ad8; /* ボタン色 */
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px); /* 下に動く */
  border-bottom: none; /* 線を消す */
}

// { end }

// CSS for font size
// refer : https://www.slooowlife.com/entry/hanate-word-size-change
// copy from : https://pecopla.net/web-column/fontsize-css
// { begin }

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem; // 18px
  line-height: 2;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, '游ゴシック体', YuGothic, 'Yu Gothic Medium', 'Noto Sans JP', sans-serif;
  font-weight: normal;
}

h1 {
    font-size: 36px; // fix size for IE8 (or before) and Android 4.3 (or before)
    font-size: calc(2.4rem + ((1vw - 0.64rem) * 2.1429)); // 24px to 36px
    line-height: 1.3;
}

h2 {
    font-size: 24px; // fix size for IE8 (or before) and Android 4.3 (or before)
    font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143)); // 20px to 24px
    line-height: 1.3;
}

// for PC (learge screen)
@media (min-width: 1200px) { // 1200px or learger
    h1 {
        font-size: 3.6rem; // 36px
    }
    h2 {
        font-size: 2.4rem; // 24px
    }
}

// smart phone (small screen)
@media screen and (max-width: 640px) { // 640px or smaller
    body {
      font-size: 1.4rem; // 14px
      line-height: 1.5;
    }
    h1 {
        font-size: 2.4rem; // 24px
    }
    h2 {
        font-size: 2rem; // 20px
    }
}
// { end }