<!DOCTYPE html>
<html>
  <head>
    <title>FaceDetectTest</title>
    <% if content_for?(:refresh) %>
      <meta http-equiv="refresh" content="<%= yield(:refresh) %>">
    <% end %>
    <%= csrf_meta_tags %>
    
    <!-- for responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
